/*Hover Images (start)*/
ul.thumb {
	float: left;
	list-style: none;
	margin: 0; padding: 10px;
	width: 360px;
}
ul.thumb li {
	margin: 0; padding: 5px;
	float: left;
	position: relative;  /* Set the absolute positioning base coordinate */
	width: 110px;
	height: 110px;
}
ul.thumb li img {
	width: 100px;
	height: 100px; /* Set the small thumbnail size */
	-ms-interpolation-mode: bicubic; /* IE Fix for Bicubic Scaling */
	border: 1px solid #ddd;
	padding: 5px;
	background: #f0f0f0;
	position: absolute;
	left: 1px;
	top: 5px;
}
ul.thumb li img.hover {
	background:url(file:///C|/Users/Patrick/Desktop/thumb_bg.png) no-repeat center center;
	border: none;
}
/*Hover Images (end)*/

/*Fonts (start)*/
@font-face {
	font-family: 'Playball-Regular';
	src: url('font/Playball-Regular.ttf');
	src: local('Playball-Regular'), local('Playball-Regular'), url('font/Playball-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Albatross';
	src: url('font/Albatross.ttf');
	src: local('Albatross'), local('Albatross'), url('font/Albatross.ttf') format('truetype');
}
/*Fonts (end)*/

/*Layout and Design (start)*/
.left
{
    float: left;
}
.right
{
    float: right;
}
#container
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	text-color: #000000;
	text-align: center;
	color: #ffffff;
	font-size: large;
}
#logo {
	margin: 9px 5px 0px 0px;
	width: 190px;
	height: 127px;
	position: relative;
	float: left;
	clear: none;
	background-color: #ffffff;
	display: inline-block;
/*	background-image: url(https://coder-mole.github.io/rskc/images/rskc_logo.png); */

}
.titleHolder {
	position: relative;
	float: left;
	clear: none;
	width: 905px;
	height: 113px;
	background-color: #000000;
	margin: 9px 0px 0px 0px;
/*	padding: 10px 0px 0px 0px; */
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	border-bottom: 4px solid #B8860B;
	text-align: center;
}
.titleText {
	font-family: Playball-Regular;
	font-size: 40px;
	letter-spacing: -1px;
}
.left_headText1 {
	font-size: 28px;
	text-align: left;
	display: block;
	padding: 0px 0px 0px 0px;
}
.span {
	color: #B8860B;
}
#title-edge-shadow {
	position: relative;
	width: 8px;
	height: 127px;
	margin: 9px 0px 0px 0px;
	background-color: red;
	display: inline-block;
}
#top-nav-holder {
	position: relative;
	float: left;
	clear: none;
	display: inline-block;
	height: 57px;
	padding-top: 10px;
	padding-bottom: 10px;
/*	background-color: #717070; grey*/
/*	background-color: #C0C0C0; silver*/
/*	background-color: #aaa9ad; metalixc silver */
	background-color: #a8a9ad; /*Chrome aluminium */
	width: 905px;
}
#info-bar {
	text-align: left;
	float: left;
	clear: both;
	position: relative;
	width: 1090px;
    	color: #ffffff;
	background-color: #1a1110; /*licorice */
	margin: 5px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
}
.navbar-left {
	width: 245px;
	float: left;
}
.left-content {
	margin: 0px;
	padding: 0px;
	width: 204px;
	float: left;
}
.right-content {
	margin: 0px;
	width: 725px;
	float: left;
}
.content {
	font-family: Tahoma;
	font-size: 12px;
	color: black;
	position: relative;
	float: left;
	clear: both;
	width: 1100px;
	height: auto;
	background-color: white;
	margin: 5px 0px 5px 0px;
}
.main-content {
	font-family: Tahoma;
	font-size: 12px;
	color: black;
	width: 860px;
	margin-bottom: -7px;
	position: relative;
	float: right;
	text-align: left;
	height: 100%;
	color: black; /*was #2f4f4f - Dark Slate Grey*/
	margin-left: auto;
	padding: 0px 5px 40px 5px;
	clear: right;
}
.gold-text {
	color: #B8860B;
}
.green-text {
	color: green;
}
.brown-text {
	color: brown;
}
#container .content .main-content .centre strong {
	font-size: 30px;
}
.centreText1
{
	text-align: center;
	display: block;
	padding: 10px 10px 5px 10px;
	font-size: 24px;
	font-family: Playball-Regular;
}
.centreText2
{
	text-align: center;
	display: block;
	padding: 10px 10px 5px 10px;
	font-size: 12px;
}
.centreImage
{
	text-align: center;
	display: block;
	padding: 10px 10px 5px 10px;
	font-size: 12px;
}
.address-text {
    float: left;
	position: relative;
	width: auto;
}
.contact-info {
	text-align: right;
	position: inherit;
	float: right;
	clear: right;
	width: auto;
	height: auto;
	margin: 0px 0px 0px 0px;
	padding: 6;
}
.base-bar {
	text-align: center;
	clear: both;
	position: relative;
	width: 1100px;
	float: left;
	background-color: #FFFFFF;
	margin-bottom: 5px;
	font-size: 16px;
	color: black;
	padding: 2px 0px 2px 0px;
}
.hosting {
	font-family: Tahoma, Geneva, sans-serif;
	float: left;
	text-align: left;
	font-size: 10px;
	color: black;
	padding: 4px 4px 4px 4px;
}
.designer {
	font-family: Tahoma, Geneva, sans-serif;
	float: right;
	text-align: left;
	font-size: 10px;
	color: black;
	padding: 4px 4px 4px 4px;
}
/*Layout and Design (end)*/
